{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-unused-vars": 1,
    "no-console": 0,
    "indent": [1, 2],
    "linebreak-style": [2, "unix"],
    "quotes": [1, "single"],
    "semi": [2, "always"]
  }
}